
.nav-link {
  color: #000000 !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.glass-drawer{
    height: 50px;
    & .MuiToolbar-root {
      min-height: 50px !important;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      height: 50px !important;
    }
}

.white{
  background: #fff !important;
}

.nav-link.active {
  color: #fff !important;
  background: #4b49ac;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.nav-icon {
  min-width: 20px !important;
  margin-right: 10px;
}

.nav-link.active .nav-icon {
  color: #fff !important;
}

.dashboard-card{
    background-color: #fff;
    border-radius: 10px !important;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    height: 350px !important;
}

.dashboard-card-header{
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    color : #393887;
    & .MuiCardHeader-title{
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 1.9;
    }
}


.dashboard-card-content{
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.detail-btn{
    color: #7da0fa !important;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.long-weekend-text{
    color :#4b49ac;
    display: flex;
    justify-content: center;
}

.mandatory {
  color: red;
}

.date-display{
  color: #393887 !important;
  font-size: 60px !important;
  font-weight: 500 !important;
}

.week{
  color: #000000 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4em !important; 
}

.leave-datagrid{
  border : 0px !important;
}

.profile-label{
  color: #393887 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.apply-leave-card{
  background :#fff;
  padding :10px;
  border : 2px solid #3f51b5;
  border-radius:10px;
}

.profile-card-header{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color : #fff;
    & .MuiCardHeader-title{
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 1.9;
    }
}

.accounts-card{
  padding :16px;
  border-radius:0px !important;
  height: 300px;
}

.accounts-card-header{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color : #4b49ac;
    & .MuiCardHeader-title{
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 1.9;
    text-align: center;
    }
}

